http_interactions:
- recorded_at: Tue, 23 Aug 2022 19:41:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"layout_type":"free","title":"Test-Create_a_new_Dashboard_Report_returns_Unprocessable_Entity_response-1661283661
        with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"layout":{"height":10,"width":10,"x":10,"y":10}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      encoding: UTF-8
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"t2e-gsu-24q","title":"Test-Create_a_new_Dashboard_Report_returns_Unprocessable_Entity_response-1661283661
        with Profile Metrics Query","url":"/dashboard/t2e-gsu-24q/test-createanewdashboardreportreturnsunprocessableentityresponse-1661283661-with","created_at":"2022-08-23T19:41:01.958572+00:00","modified_at":"2022-08-23T19:41:01.958572+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"layout":{"y":10,"width":10,"x":10,"height":10},"id":587624846000977}],"layout_type":"free"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Tue, 23 Aug 2022 19:41:01 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"description":"This report summarizes the recent
        errors, latency, and uptime of our Web Application Backend.","destinations":{"email":{"recipient_addresses":["jane.doe@example.com"]}},"schedule":{"active":true,"frequency":"1d","repeat_at":"13:30","repeat_on_day_of_month":null,"repeat_on_day_of_week":null,"timezone":"America/New_York"},"timeframe":"1w","title":"Summary
        of recent stability and performance for Web Application Backend"},"type":"dashboard_reports"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/dashboards/t2e-gsu-24q/reports
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Screenboards (Dashboards with a layout_type=free) are not
        currently supported by the reporting feature. If you would like to schedule
        reports for this screenboard, please clone this dashboard as a timeboard or
        grid by picking a new layout via the Datadog app and configure reports on
        the new dashboard"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- recorded_at: Tue, 23 Aug 2022 19:41:01 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/t2e-gsu-24q
  response:
    body:
      encoding: UTF-8
      string: '{"deleted_dashboard_id":"t2e-gsu-24q"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
recorded_with: VCR 6.0.0
